[submodule "Server"]
	path = Server
	url = https://github.com/Munkbeanz/EQMacEmu
[submodule "Quests"]
	path = Quests
	url = https://github.com/Munkbeanz/quests
[submodule "Maps"]
	path = Maps
	url = https://github.com/Munkbeanz/Maps
